@import "tailwindcss";

@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@import "@fontsource/jetbrains-mono/400.css";

:root {
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --primary-color: #8158DF;
  --primary-bg-color: #2A2546;
  --bg-button: #2A2546;
  --bg-panel: #181B24;
  --open-stores: #31BD8B;
  --open-bg-stores: #1C3535;
  --color-products: #4C80BF;
  --bg-products: #212D40;
  --color-expenses: #FBBF24;
  --bg-expenses: #353024;
  --border-light: #2A2E3D;
  --text-light: #D1CACE;
  --text-dim: #181B24;
  --text-muted: #707989;
  --open: #34D399;
  --open-bg: #1C3535;
  --close: #DC362E;
  --close-bg: #E3918D;
}

body {
  font-family: "Inter", sans-serif;
}